/* Universal Styles */ 

html {
  font-size: 17px; 
}

body {
  margin: 0; 
  font-family: "Helvetica", sans-serif;
  color: black; 
}

a {
  color: black;
}

h1 {
  color: blue;
}
nav span {
  display: inline-block;
  padding: 20px 10px;
}


/* Header */ 
header {

}

/* Main Content Container */ 


/* Footer */ 
footer {

}
